{{/*
Create chart name and version as used by the chart label.
*/}}
{{- define "preauthbridge.chart" -}}
{{- printf "%s-%s" .Chart.Name .Chart.Version | replace "+" "_" | trunc 63 | trimSuffix "-" }}
{{- end }}

{{/*
Common labels
*/}}
{{- define "preauthbridge.labels" -}}
helm.sh/chart: {{ include "preauthbridge.chart" . }}
{{ include "preauthbridge.selectorLabels" . }}
{{- if .Chart.AppVersion }}
app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
{{- end }}
app.kubernetes.io/managed-by: {{ .Release.Service }}
{{- end }}

{{/*
Selector labels
*/}}
{{- define "preauthbridge.selectorLabels" -}}
app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
